:root {
  --bg-hero: #f7f7f7;
  --primery-black: #121212;
  --primery-white: #f7f7f7;
  --primery-text: #000000;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.section {
  padding-bottom: 64px;
}
.container {
  padding-right: 20px;
  padding-left: 20px;
  height: 100%;
}
.section-hero {
  padding-top: 40px;
  /*background-color: var(--bg-hero)*/
  background-color: tomato;
}
.section-kitchen {
  /*background-color: var(--primery-white);*/
  background-color: aqua;
}
.section-menu {
  /*background-color: var(--primery-black);*/
  background-color: coral;
}
.body {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;

  color: var(--primery-text);
}

.hero-title {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  color: var(--primery-black);
}
.button-main {
  /*display: flex;
  flex-direction: row;
  align-items: flex-start;*/
  padding: 8px 18px;
  margin-right: 10px;

  min-width: 128px;
  height: 34px;

  border: 0.8px solid #121212;
  border-radius: 32px;
  font-family: "DM Sans";

  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #121212;
}
.hero-text,
.hero-text-italic {
  line-height: 1.29;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: var(--primery-black);
}
.hero-text-italic {
  font-style: italic;
}
/*==================KITCHEN==================*/
.kitchen-title {
  display: none;
}
.kitchen-text-one,
.kitchen-text-second,
.kitchen-text-italic {
  line-height: 1.29;

  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: var(--primery-text);
}
.kitchen-text-italic {
  font-style: italic;
}
.kitchen-text-one {
  margin-bottom: 24px;
}
